body{
    background-image: url('../img/rana-sawalha-364253-unsplash.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana;
}

.top-part{
    background-color: rgba(0, 0, 0, 0.41);
    height: 55px;
}

.header-container{
    width: 1210px;
    margin: 0 auto;
}

.logo{
    text-decoration: none;
    color:  rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 55px;
}

.logo:hover{
    color: rgb(57, 186, 120);
}

.right-top-part{
    float: right;
    margin-top: 6px;
}

.buttons{
    display: inline-block;
    
}

.buttons i{
    background: url(../img/css_sprites.png) no-repeat;
    display: inline-block;
    width: 47px;
    height: 30px;
    cursor: pointer;
}

.button-calc:hover{
    background-position: 0 -40px;
    transition: 0.5s;
}

.buttons .button-forum{
    background-position: -56px 0;
}

.button-forum:hover{
    background-position: -56px -40px;
    transition: 0.5s;
}

.buttons .button-compass{
    background-position: -112px 0;
}

.button-compass:hover{
    background-position: -112px -40px;
    transition: 0.5s;
}

.greet-register{
    display: inline-block;
    padding-top:11px;
    padding-left: 24px;
    vertical-align: top;
    color:  rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.registration{
    text-decoration: none;
    color: rgb(60, 184, 120);
}

.registration:hover{
    text-decoration: underline;
}

.container{
    width: 1210px;
    margin: 0 auto;
    min-height: calc(100vh - 55px);
    display: flex;
    justify-content: center;
    align-items: center;
/*    height: calc(100vh - 55px);*/
/*    margin-top: calc((100vh - 55px - 598px)/2);*/
}

.main{
    width: 444px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
}

/********* INITIAL MAIN DIV POSITIONING
.main{
    width: 444px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
**********/

.square{
    display: inline-block;
    height: 18px;
    width: 18px;
    background-color: rgb(60, 184, 120);
}

.sign-up{
    display: inline-block;
    margin-top: 30px;
    margin-left: 35px;
    color: #434343;
    font-size: 20px;
    font-weight: 400;
}

.log-in-link{
    display: inline-block;
    margin-left: 197px;
    text-decoration: none;
    color: #3cb878;
    font-size: 14px;
    font-weight: 400;
}

.log-in-link:hover{
    text-decoration: underline;
}

.fb-and-ggl-buttons{
    margin: 15px 59px 33px 59px;
}

.facebook{
    position: relative;
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
    background-color:  #2c5cba;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    width: 157px;
    height: 46px;
}

.facebook:hover{
    background-color: #214997;
}

.fab {
    margin-top: 12px;
    padding-left: 18px;
    font-size: 20px;
}

.invisible-span{
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 28px;
    border-right: solid black thin;
    opacity: 0.1;
    top: 10px;
    left: 50px;
}

.fb-button-text{
    display: inline-block;
    padding-left: 33px;
}

.google{
    position: relative;
    display: inline-block;
    margin-left: 5px;
    text-decoration: none;
    border-radius: 3px;
    background-color: #e0482f;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    width: 157px;
    height: 46px;
}

.google:hover{
    background-color: #c43f28;
}

.invisible-span2{
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 28px;
    border-right: solid black thin;
    opacity: 0.1;
    top: 10px;
    left: 53px;
}

.ggl-button-text{
    display: inline-block;
    padding-left: 33px;
}

.for-or-span-positioning{
    position: relative;
}

.left-line{
    display: inline-block;
    width: 135px;
    margin-left: 60px;
    opacity: 0.3;
}

.or{
    position: absolute;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    color:  #848484;
    font-size: 14px;
    font-weight: 400;
}

.right-line{
    display: inline-block;
    margin-left: 48px;
    width: 135px;
    opacity: 0.3;
}

.form-row{
    margin-top: 8px;
    margin-left: 61px;
}
.first-input-div{
    margin-top: 10px;
}

input{
    outline: none;
    border: 1px solid;
    border-color: rgb(235, 235, 235);
}

input[type=text]{
    padding-left: 20px;
}

input[type=password]{
    padding-left: 20px;
}

.row{
    width: 305px;
    height: 46px;
    border-radius: 3px;
}

.row:focus{
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
}

.agree-policy-terms{
    margin-top: 13px;
    margin-left: 57px;
}

.agree-policy-terms label{
    color: #434343;
    font-size: 14px;
    font-weight: 400;
}

.agree-policy-terms a{
    text-decoration: none;
    color: #39ba78;
    font-size: 14px;
    font-weight: 400;
}

.agree-policy-terms a:hover{
    text-decoration: underline;
}

input[type="checkbox"] {
/*  display: none;*/ 
    width: 20px;
    height: 20px;
    background: url(../img/css_sprites-3-check.png) no-repeat -10px -10px;
/*    margin: 0 10px 0 62px;*/
    -webkit-appearance: none;
    vertical-align: middle;
    border: none;
}

/************* INITIAL CUSTOM CHECKBOX
label::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-color: rgb(235, 235, 235);
    border-radius: 3px;
    vertical-align: middle;
    margin-right: 10px;
}
***************/
input.checkbox:checked {
    background-position: -50px -10px;
}

/************** INITIAL CUSTOM CHECKBOX
input[type="checkbox"]:checked + label::before{
    content: "";
    background-image: url(../img/checkbox.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
****************/

.submit{
    width: 327px;
    height: 46px;
    margin-top: 21px;
    margin-left: 62px;
    margin-bottom: 28px;
    background-color: #39ba78;
    border-radius: 3px;
    border: none;
    font-family: Verdana;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.submit:hover{
    background-color: #2f9b65;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}